#hq {
  padding-top: 4rem;
}

.fr_01 {
  grid-column: 3 / 19;
}

.fr_02 {
  grid-column: 2 / 20;
}

.fr_03 {
  grid-column: 2 / 9;
  grid-row: 4 / 6;
  z-index: 2;
}

.fr_04 {
  grid-column: 7 / 20;
  grid-row: 4 / 6;
}

.fr_05 {
  grid-column: 9 / 20;
  grid-row: 5 / 7;
  z-index: 1;
}

.fr_06 {
  grid-column: 2 / 12;
  grid-row: 6 / 7;
  z-index: 2;
}

.fr_07 {
  grid-column: 12 / 20;
  grid-row: 6 / 8;
  padding-top: 10rem;
}

.fr_08 {
  grid-column: 2 / 12;
  grid-row: 7;
}