#hq {
  padding-top: 4rem;
}

.fr_01 {
  grid-column: 2 / 9;
  grid-row: 1;
}

.fr_02 {
  grid-column: 3 / 19;
  grid-row: 2;
}

.fr_03 {
  grid-column: 3/19;
  grid-row: 2/5;
  z-index: 2;
  padding-top: 49rem;
}

.fr_04 {
  grid-column: 4/19;
  grid-row: 4/7;
  z-index: 3;
  padding-top: 5rem;
}

.fr_05 {
  grid-column: 2/11;
  grid-row: 7;
}

.fr_06 {
  grid-column: 10/20;
  grid-row: 7/9;
  padding-top: 3rem;
  z-index: 2;
}