    body{
        background-color: #fee8b2;
        overflow: hidden; /* Hide scrollbars */
    }

    #ui {
	    width: 15%;
       
    	float: left;
        border: 1px #800080 solid;
    }

    #hq {
        /**border: 1px #800080 solid;**/
        background-color:white;
        margin: auto;
	    width: 60%;
        height: 600px;
    }

    #setas {
        border: 1px #800080 solid;
	    margin: auto;
        width: 60%;
    }
    
    button {
    background-color: #91ced2;
    transition-duration: 0.4s;
    height: 80px;
    padding: 0;
    margin: auto;
    
    width: 80px;
    border: none;
}

    button:hover {
        background-color: #90aad2;
}

#episodios, #som, #info {
    display: block;
}

#setaesq, #setadir {
    display: inline-block;    
}

#setaesq img{
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}

#episodios img, #som img, #info img, #setaesq img, #setadir img {
    max-width: 60%;
    height: auto;
}

#som{
    border-radius: 20px 20px 0 0;
}

#info{
    border-radius: 0 0 20px 20px;
}

#setaesq{
    border-radius: 20px 0 0 20px;
}

#setadir{
    border-radius: 0 20px 20px 0;
}

