    html, body{
        background-color: #fee8b2;
    }

    #ui {
	    width: 15%;
        height: 650px;
    	float: left;
        /**border: 1px #800080 solid;**/
        padding: 40px;
    }

    #hq {
        /**border: 1px #800080 solid;**/
        background-color:white;
	    width: 70%;
        height: 600px;
    	float: left;
    }

    #setas {
        position: relative;
        /**border: 1px #800080 solid;**/
	    width: 70%;
	    float: left;
    }
    
    button {
    background-color: #91ced2;
    transition-duration: 0.4s;
    height: 80px;
    padding: 0;
    margin: 0;
    
    width: 80px;
    border: none;
}

    button:hover {
        background-color: #90aad2;
}

#episodios, #som, #info {
    display: block;
}

#setaesq, #setadir {
    display: inline-block;    
}

#episodios img, #som img, #info img, #setaesq img, #setadir img {
    padding: 16px 16px;
    height: 48px;  
    width: 48px;
}

#episodios img:hover, #som img:hover, #info img:hover, #setaesq img:hover, #setadir img:hover {
    padding: 10px 20px 30px 20px;
    height: 40px;  
    width: 40px;
}

#som{
    border-radius: 20px 20px 0 0;
}

#info{
    border-radius: 0 0 20px 20px;
}

#setaesq{
    border-radius: 20px 0 0 20px;
    position:absolute;
    top:50%;
    left:46.5%;
}

#setadir{
    border-radius: 0 20px 20px 0;
    position:absolute;
    top:50%;
    left:53.5%;
}

