    body {
        background-color: #fee8b2;
        overflow: hidden;
        /* Hide scrollbars */
    }

    #ui {
        width: 15%;

        float: left;
        border: 1px #800080 solid;
    }

    /* #hqCanvas {
        background-color: white;
    }*/

    #hq {
        background-color: white;
        border: 1px #800080 solid;
        height: 600px;
        margin: auto;
        width: 60%;
    }

    #setas {
        text-align: center;
        border: 1px #800080 solid;
        margin: auto;
        width: 60%;
    }

    button {
        background-color: #91ced2;
        transition-duration: 0.4s;
        height: 80px;
        padding: 0;
        margin: auto;

        width: 80px;
        border: none;
    }

    /* mudar cor dos botões quando passa o mouse */
    button:hover {
        background-color: #90aad2;
    }

    /* ícones embaixo um do outro */
    #episodios,
    #som,
    #info {
        display: block;
    }

    /* Para as setas ficarem uma do lado da outra */
    #setaesq,
    #setadir {
        display: inline-block;
    }

    /* Refletir seta esquerda */
    #setaesq img {
        transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
    }

    /* Tamanho responsivo dos ícones */
    #episodios img,
    #som img,
    #info img,
    #setaesq img,
    #setadir img {
        max-width: 60%;
        height: auto;
    }

    /* Bordas arredondadas */
    #som {
        border-radius: 20px 20px 0 0;
    }

    #info {
        border-radius: 0 0 20px 20px;
    }

    #setaesq {
        border-radius: 20px 0 0 20px;
    }

    #setadir {
        border-radius: 0 20px 20px 0;
    }




    /* Movimento dos quadros da hq */
    #f1,
    #f2 {
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-play-state: paused;
    }

    #f1 {
        animation-name: f1;
    }

    #f2 {
        animation-name: f2;
    }

    @keyframes f1 {
        from {
            width: 500px;
            height: 489px;
            margin-left: 21%;
            margin-top: 5%;
        }

        to {
            width: 350px;
            height: 342px;
            margin-left: 2%;
            margin-top: 1%;
        }
    }

    @keyframes f2 {
        from {
            width: 500px;
            height: 489px;
            left: 200px;
            top: 50px;
        }

        to {
            width: 350px;
            height: 342px;
            left: 30px;
            top: 10px;
        }
    }