* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #fee8b2;
    font-family: 'Open Sans', sans-serif;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* GRID */

.grid {
    display: grid;
}

.grid-main {
    grid-template-columns: 4fr 1fr;
}

.grid-chapters {
    grid-template-columns: 2rem 3rem;
}

.grid-hq {
    grid-template-columns: repeat(auto-fill, 5%);
    row-gap: 3rem;
}

/* HQ */

#hq {
    overflow: auto;
    height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(#f4f4f4, #d7d7d7);
    text-align: center;
}

/* #hq img {
    width: 100%;
} */

/* SIDEBAR */

#sidebar {
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
    color: #fff;
    background-color: #283886;
}

/* CHAPTER W THUMBNAIL */

#chapters {
    padding: 0 1rem;
}

.chapter:hover .pages {
    display: block;
}

.chapter:not(:first-child) {
    margin-top: 1rem;
}

.chapter .chapter__img {
    width: 16%;
    display: inline-block;
    vertical-align: top;
    margin-right: 1rem;
}

.chapter .chapter__img img {
    width: 100%;
    border-radius: .5rem;
}

.chapter .chapter__details {
    display: inline-block;
    width: 75%;
}

.chapter .chapter__details .chapter__details__number {
    text-transform: uppercase;
    font-size: .8rem;
    margin-bottom: .3rem;
    opacity: .6;
}

.chapter .chapter__details .chapter__details__title {
    font-size: 1rem;
}

/* PAGES */

.pages {
    background-color: rgba(255, 255, 255, .15);
    padding: 1rem;
    border-radius: .4rem;
    margin-top: .6rem;
    /* display: none; */
}

.pages__title {
    color: rgba(255, 255, 255, .6);
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: .08rem;
}

.pages__nav {
    margin-top: .8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.pages__nav img {
    width: 100%;
    background-color: rgba(255, 255, 255, .15);
    /* border: .3rem solid rgba(255, 255, 255, .3); */
    border-radius: .6rem;
    transition: all 500ms;
}

.pages__nav img:not(:hover) {
    opacity: .6;
}

/* NAVIGATION */

nav {
    position: absolute;
    bottom: 0;
}

/* .mainNavigation {
    display: grid;
    grid-template-columns: repeat(auto-fill, 5%);
} */

.nav-logo {
    margin-bottom: 2rem;
}

/* CH 00 - PG 01 */
/* #hq {
    background-image: url('../img/storyboard.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center -70rem;
} */

/* #hq {
    background-image: url('../img/chapters/ch00/storyboard.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center -51rem;
} */

.fstFrame {
    /* display: block; */
    background-color: #00115A;
    /* margin: 0 auto; */
    /* grid-column: 1; */
}

.fr_00 {
    /* height: 100vh; */
    grid-column: 1 / 25;
    z-index: 1;
}

/* frame space */

.space {
    grid-column: 1 / 25;
    height: 4rem;
}

/* frame animation */

.frame {
    opacity: 0;
    transition: 1s;
    display: block;
}

.fade-in {
    opacity: 1;
}