include ../mixins/navigationChapterThumbnails

#sidebar
  img(src="../img/id/logo.svg" class="nav-logo")
  #chapters
    - const ch00 = { number: "Capítulo 00", title: "Prólogo" }
    +chapter("ch00", ch00, 16)

    - const ch01 = { number: "Capítulo 01", title: "Em breve..." }
    +chapter("ch01", ch01, 0)
  nav.mainNavigation
    img(src="../img/nav/prev.svg" onClick="prevPage()")
    img(src="../img/nav/next.svg" onClick="nextPage()")
    img(src="../img/nav/top.svg" onClick="toTop()")
    img(src="../img/nav/sound_on.svg" onClick="playAudio()" class="btnAudio")
    img(src="../img/nav/team.svg" onClick="teamPage()")
    