doctype html
html(lang="pt-BR")
  include includes/head    
  body
    main.grid.grid-main
      #hq
        include includes/chapters/ch00/ch00_pg01
      include includes/navigation
    include includes/javascript