doctype html
html(lang="pt-BR")
  include includes/head    
  body
    main.grid.grid-main
      #hq
        h1 Sodalita
        h2 A Jornada de Rui na Caverna de Cristal
        span(style="display:block") Por Giovanna Camocardi e Juliana Sá
        span(style="display:block") Orientação de Marcelo Pereira
        img(src="/img/storyboard.png")
      include includes/navigation
    include includes/javascript