doctype html
html(lang="pt-BR")
  include includes/head    
  body
    main.grid.grid-main
      #hq
        h1 adicionar coisas
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi sunt ea, voluptas eaque aperiam, neque tempore, eligendi accusamus qui optio praesentium tempora facere sit nulla quos ipsa! Architecto, eos voluptates!
        //- img(src="img/storyboard.png")
      include includes/navigation
    include includes/javascript