doctype html
html(lang="pt-BR")
  include includes/common/head   
  link(rel="stylesheet" href="../css/ch00_pg01.css") 
  body
    main.grid.grid-main
      #hq.grid.grid-hq.pg_yellow
        include includes/chapters/ch00/pg01
      include includes/common/navigation
    include includes/common/javascript