doctype html
html(lang="pt-BR")
  include includes/common/head    
  body
    main.grid.grid-main
      #hq
        include includes/chapters/ch00/pg01
      include includes/common/navigation
    include includes/common/javascript