doctype html
html(lang="pt-BR")
  include includes/common/head
  link(rel="stylesheet" href="../css/ch00_pg02.css")
  body
    main.grid.grid-main
      #hq.grid.grid-hq.pg_yellow
        div.fr_00
          img(src="/img/id/color/yellow.svg")
        include includes/chapters/ch00/pg02
      include includes/common/navigation
    include includes/common/javascript