doctype html
html(lang="pt-BR")
  include includes/common/head
  body
    main.grid.grid-main
      #hq.grid.grid-hq
        div.pg_text.pg_red
          //- img(src="/img/chapters/ch00/pg08/00.jpg")
          h1 INT. CASA DE RUI - COMEÇO DA NOITE
          p Rui entra em casa. Já está escurecendo então as luzes de casa estão ligadas. Na sala, sentados à mesa estão seus pais, com expressões sérias. Ao verem ele entrando, seu pai se levanta.
          p Rui se aproxima deles e seu pai começa a brigar com ele, repreendendo suas ações. Seus pais tentam lhe dizer que Rui não deveria ir à floresta. 
      include includes/common/navigation
    include includes/common/javascript