doctype html
html(lang="pt-BR")
  include includes/common/head   
  link(rel="stylesheet" href="../css/ch00_pg09.css") 
  body
    main.grid.grid-main
      #hq.grid.grid-hq
        div.pg_random.pg_red
          img(src="/img/chapters/ch00/pg09/00.jpg")
      include includes/common/navigation
    include includes/common/javascript