doctype html
html(lang="pt-BR")
  include includes/common/head
  body
    main.grid.grid-main
      #hq.grid.grid-hq.pg_red
        div.fr_00
          img(src="/img/id/color/red.svg")
        div.pg_text
          //- img(src="/img/chapters/ch00/pg09/00.jpg")
          h1 INT. CASA DE RUI - COMEÇO DA NOITE
          p (cont.)
          p Os três discutem. A briga se intensifica até que Seu Lulu pega a bolsa de rui de suas mãos e joga no chão os seixos que Rui havia coletado e pisa em cima deles. Rui, chocado, se dirige correndo ao seu quarto.
      include includes/common/navigation
    include includes/common/javascript