doctype html
html(lang="pt-BR")
  include includes/common/head
  body
    main.grid.grid-main
      #hq.grid.grid-hq
        div.pg_text.pg_grey
          //- img(src="/img/chapters/ch00/pg10/00.jpg")
          h1 EXT. CASA DO RUI - NOITE
          p Sentado em sua cama ele observa suas prateleiras cheias de desenhos da floresta e seus achados.
          p Ele está cabisbaixo, após perceber que aos olhos dos demais errou de novo, se sente incompreendido.
          p Todos na vila eram bons em algo, ou pelo menos já tinham ideia do que gostariam de contribuir na vila. Enquanto que Rui apenas adorava explorar e se aventurar na floresta, juntando pedras e conchas de recordação dos seus passeios. Ele então fica com raiva da situação, porque ele tem que mudar para se encaixar, quando nenhum outro rato do vilarejo havia tentando compreendê-lo?
      include includes/common/navigation
    include includes/common/javascript