doctype html
html(lang="pt-BR")
  include includes/common/head
  body
    main.grid.grid-main
      #hq.grid.grid-hq.pg_grey
        div.fr_00
          img(src="/img/id/color/grey.svg")
        div.pg_text
          //- img(src="/img/chapters/ch00/pg11/00.jpg")
          h1 EXT. CASA DO RUI - NOITE
          p (cont.)
          p Sentado, ele se recorda dos demais ratinhos rindo dele ao mostrar as pedras e plantas coletadas da floresta.
          h2 PAIS DE RUI (compreensivos/ em choque)
          p Seus pais já mais calmos olham entram no quarto de Rui para conversar, e percebem a janela aberta. Rui havia fugido. Sua mãe e seu pai se abraçam tristes confortando um e o outro na esperança de que seu filho retornará e que tudo acabará bem.

      include includes/common/navigation
    include includes/common/javascript