doctype html
html(lang="pt-BR")
  include includes/common/head   
  link(rel="stylesheet" href="../css/ch00_pg12.css") 
  body
    main.grid.grid-main
      #hq.grid.grid-hq
        include includes/chapters/ch00/pg12
      include includes/common/navigation
    include includes/common/javascript