doctype html
html(lang="pt-BR")
  include includes/common/head
  body
    main.grid.grid-main
      #hq.grid.grid-hq.pg_blue
        div.fr_00
          img(src="/img/id/color/blue.svg")
        div.pg_random
          img(src="/img/chapters/ch00/pg12/00.png")
      include includes/common/navigation
    include includes/common/javascript