doctype html
html(lang="pt-BR")
  include includes/common/head   
  link(rel="stylesheet" href="../css/ch00_pg13.css") 
  body
    main.grid.grid-main
      #hq.grid.grid-hq.pg_pink
        div.fr_00
          img(src="/img/id/color/pink.svg")
        include includes/chapters/ch00/pg13
      include includes/common/navigation
    include includes/common/javascript