doctype html
html(lang="pt-BR")
  include includes/common/head
  body
    main.grid.grid-main
      #hq.grid.grid-hq
        div.pg_random.pg_purple
          img(src="/img/chapters/ch00/pg16/00.jpg")
      include includes/common/navigation
    include includes/common/javascript