doctype html
html(lang="pt-BR")
  include includes/common/head   
  link(rel="stylesheet" href="../css/team.css") 
  body
    main.grid.grid-main
      #hq
        div.myTeam
          //- h1 Equipe

          //- h4 Um projeto de 
          //- h2 Juliana Sá
          //- h2 Giovanna Camocardi

          //- h2.collab Colaboração

          //- h4 Orientador
          //- h3 Marcelo Pereira

          //- h4 Design de Som e Trilha Sonora
          //- h3 Bettina Oliveira

          //- h4 Colorização
          //- h3 Beatriz Neves

          //- h4 Programação
          //- h3 Beatriz Oliveira
          //- h3 Daniela Rubio
          img(src="/img/team.png")
      include includes/common/navigation
    include includes/common/javascript