include ../../mixins/pageImages

- var n = 1
while n <= 6
  - var f = n++
  - var ff = "0" + f

  if f < 10 
    +frame("ch00", "pg14", ff, "frame", "frame_" + ff, "fr_" + ff)
  else if f >= 10
    +frame("ch00", "pg14", f, "frame", "frame_" + f, "fr_" + f)

div.space