include ../../mixins/pageImages

- var n = 1
while n <= 6
  - var f = n++

  if f < 10
    +frame("ch00", "pg14", "0" + f, "frame", "fr_0" + f)
  else if f >= 10
    +frame("ch00", "pg14", f, "frame", "fr_" + f)

div.space