mixin frame(chapterNumber, chapterPage, frameImage, frameClassCommon, frameClass)
  div(class=frameClass)
    img(src="/img/chapters/" + chapterNumber + "/" + chapterPage + "/" + frameImage + ".gif" class=frameClassCommon style="width:100%;")