mixin chapterPages(totalPages, pagesChapter)
  .pages
    .pages__title Páginas
    .pages__nav
      - var n = 1;

      while n <= totalPages

        - var p = n++

        if p < 10
          img(src="../img/chapters/" + pagesChapter + "/pg0" + p +"/thumbnail.png")
        else if p >= 10
          img(src="../img/chapters/" + pagesChapter + "/pg" + p +"/thumbnail.png")
          
      //- img(src="../img/chapters/" + pagesChapter + "/pg" + p +"/thumbnail.png")

      //- - var n = 0;
      //- ul
      //-   while n <= totalPages
      //-     - var p = n++

      //-     if p < 10 
      //-       li= "0" + p
      //-     else if p >= 10
      //-       li= p