mixin frame(chapterNumber, chapterPage, frameImage, frameAOS, frameClass)
  img(src="/img/chapters/" + chapterNumber + "/" + chapterPage + "/" + frameImage + ".png" data-aos=frameAOS class=frameClass)