mixin frame(chapterNumber, chapterPage, frameImage, frameClassCommon, frameClass)
  img(src="/img/chapters/" + chapterNumber + "/" + chapterPage + "/" + frameImage + ".gif" class=frameClass + " " + frameClassCommon)