mixin frame(chapterNumber, chapterPage, frameImage, frameClassCommon, frameClass, frameClassDIV)
  div(class=frameClassDIV)
    img(src="/img/chapters/" + chapterNumber + "/" + chapterPage + "/" + frameImage + ".gif" class=frameClassCommon class=frameClass style="width:100%;")