mixin chapter(chapterNumber, chapterDetails)
  .chapter
    .chapter__img
      img(src="../img/ch-thumbnail/" + chapterNumber + ".png")
    .chapter__details
      .chapter__details__number= chapterDetails.number
      .chapter__details__title= chapterDetails.title

#sidebar
  h1 Sodalita
  h2 A Jornada de Rui na Caverna de Cristal
  #chapters
    - const ch00 = { number: "Capítulo 00", title: "Prólogo" }
    +chapter("00", ch00)
    - const ch01 = { number: "Capítulo 01", title: "Quando o queijo acaba" }
    +chapter("01", ch01)
  nav
    a(href="/")
      img(src="../img/nav/prev.png")
    a(href="/")
      img(src="../img/nav/next.png")
    a(href="/")
      img(src="../img/nav/top.png")
    a(href="/")
      img(src="../img/nav/sound_on.png")