#sidebar
  h1 Sodalita
  h2 A Jornada de Rui na Caverna de Cristal
  #chapters
    .chapter
      .chapter__img
        img(src="../img/ch-thumbnail/01.png")
      .chapter__details
        .chapter__details__number Capítulo 00
        .chapter__details__title Prólogo
    .chapter
      .chapter__img
        img(src="../img/ch-thumbnail/02.png")
      .chapter__details
        .chapter__details__number Capítulo 01
        .chapter__details__title Quando o queijo acaba
  nav
    a(href="/")
      img(src="../img/nav/prev.png")
    a(href="/")
      img(src="../img/nav/next.png")
    a(href="/")
      img(src="../img/nav/top.png")
    a(href="/")
      img(src="../img/nav/sound_on.png")